header, footer {
    height: 80px;
    position: fixed;
    background-color: #00c0d4;
    width: 100%;
}

header {
    top: 0;
    padding-left: 10px;
}

#main {
    display: flex;
    flex-direction: row;
    /* grid-template-columns: [nav] 200px [article] auto [aside] 200px [last]; */
    margin-top: 80px;
    margin-bottom: 80px;
}

nav, aside {
    background-color: #3d51b5;
    flex: 0 0 200px;
}

nav {
    /* grid-column-start: nav;
    grid-row-start: 1; */
    order: 0;
}

article {
    /* grid-column-start: article;
    grid-row-start: 1; */
    order: 1;
    flex: 1;
}

aside {
    /* grid-column-start: aside;
    grid-row-start: 1; */
    order: 2;
}

footer {
    bottom: 0;
}